#container {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.column {
  margin-top: 5px;
  margin-left: 15px;
  flex-basis: 12%;
}

.box-image > img {
  width: 100%;
}

.box-image {
  border-radius: 10px;
  background: #74b9ff;
  box-shadow: 3px 3px 5px gray;
  margin-bottom: 10px;
  padding: 4px;
}

.box-image::after {
  content: "Image Title";
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f5f6fa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 4px;
  position: relative;
  top: 5px;
  right: 4px;
  font-size: 0.9em;
}

.content {
  padding: 5px;
  width: 85%;
  margin-left: 15px;
}

.paragraph {
  width: 85%;
  margin-left: 15px;
}

@media screen and (max-width: 1024px) {
  .column {
    flex-basis: 12%;
  }
  .content {
    font-size: 18px;
  }
  .box-image::after {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .column {
    flex-basis: 19%;
  }
  .content {
    font-size: 16px;
  }
  .box-image::after {
    font-size: 12px;
  }
}

@media screen and (max-width: 415px) {
  .column {
    flex-basis: 100%;
  }
  .content {
    font-size: 14px;
  }
  .box-image::after {
    font-size: 15px;
  }
}
